.nav {
  grid-area: n;
  background-color: rgb(225, 228, 189);
  padding: 10px;
}

.item {
  font-size: 20px;
  list-style: none;
}

a {
  color: red;
  transition: all 0.3s;
  text-decoration: none;
}
a:focus,
a:active {
  color: rgb(99, 84, 0);
}

a:hover {
  color: brown;
}
