.item {
  background-color: rgb(248, 103, 103);
  margin-top: 10px;
  padding: 5px;
  max-width: 700px;
  min-height: 80px;
  opacity: 0.9;
}

.avatar {
  width: 40px;
  border-radius: 50%;
  text-align: left;
  margin: 0 0;
}
